# Auto detect text files and perform LF normalization
* text=auto

*.js     eol=crlf
*.css    eol=crlf
*.html   eol=crlf
*.ts     eol=crlf
*.md     eol=crlf
*.txt    eol=crlf
*.json   eol=crlf
*.svelte eol=crlf